  
{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Singup page (could be overriden for BookOmatic cases !)" %}{% endblock %}

{% block content %}
     <div class="container mgt">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
                <h1>{% trans "Sign Up" %}</h1>

                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
          </div>
        </div>
      </section>
     </div>

{% endblock %}